@{ var isAuthorized = User.Identity.IsAuthenticated;}
@{
    ViewBag.Title = "Public UI";
}
<!-- Data Table -->
<input type="hidden" id="authorized" data-authorized="@isAuthorized" />
<table class="table table-striped table-hover table-responsive-lg border" id="employeeTable" style="margin-top: 2%">
    <caption>
        <strong>Employee List</strong>
    </caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Employer</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Department</th>
            <th scope="col">Phone</th>
            <th scope="col">Note</th>
            @{
                if (isAuthorized)
                {
                    <th scope="col">
                        <button type="button" class="newEmployee btn btn-primary small" data-toggle="modal">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@{
    if (isAuthorized)
    {
        <!-- Add/Edit Modal -->
        @Html.Partial("Edit")
    }
    else
    {
        <!-- Detail Modal -->
        @Html.Partial("Detail")
    }
}
@section scripts{
    @Scripts.Render("~/bundles/employee")
}