@{
    if (Session["User"] == null)
    {
        <div class="modal" id="loginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Go to Admin Panel</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form id="loginForm" action="/User/Login" method="post" role="form">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="userNickName" class="col-form-label">Nick Name<span class="text-danger"> *</span></label>
                                <input type="text" required class="form-control" id="userNickName" name="userNickName" maxlength="64">
                            </div>

                            <div class="form-group">
                                <label for="userPassword" class="col-form-label">Password <span class="text-danger"> *</span></label>
                                <input type="password" required class="form-control" id="userPassword" name="userPassword" maxlength="64">
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" form="loginForm">Login</button>
                    </div>
                </div>
            </div>
        </div>
    }
}